{% extends 'layout.html' %} {% block content %} {% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-4">
    <img src="{% static 'image/CryptobotX.jpg' %}" width="100%" height="100%" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>🙌 Hola, Bienvenidos a <strong>🤖CryptobotX🤖</strong></h1>
    <br />
    <h3>Soy un Bot de Mineria desde Telegram</h3>
    <br />
    <p>Todos mis pagos se realizan en menos de 24 horas a todos.</p>
    <p>
      Ya que su inversiones son importante para mantener el proyecto
      🤖CryptobotX🤖 activo.
    </p>

    <p>Tiene 2 formas de de ganar con 🤖CryptobotX🤖:</p>

    <p>
      Realizando una inversion o Mediante un enlace de referencia que te dara un
      10% de poder de tus referidos Activo
    </p>
  </div>
</header>
<div class="row my-5">
  <div class="row text-center col-md-8">
    <table class="table-dark">
      <thead>
        <tr>
          <th scope="col">Criptomoneda</th>
          <th scope="col">Usuarios activos</th>
          <th scope="col">Hashrate</th>
          <th scope="col">Red</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{BTC}}</th>
          <td>{{BTCWORKERS}}</td>
          <td>{{BTCPOWER}} Eh/s</td>
          <td>{{BTCRED}} Eh/s</td>
        </tr>
        <tr>
          <th>{{LTC}}</th>
          <td>{{LTCWORKERS}}</td>
          <td>{{LTCPOWER}} Th/s</td>
          <td>{{LTCRED}} Th/s</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4 ms-auto my-auto">
    <center>
      <img src="{% static 'image/qr.svg' %}" width="30%" height="30%" />

      <h2>Unete en telegram</h2>
    </center>
  </div>
</div>
<div class="row my-5 text-center">
  <h1>Historial de Pagos</h1>
  <table class="table table-dark my-3">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Monto</th>
        <th scope="col">Medio de pago</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for Payment in PaymentHistory %}
      <tr>
        <th>{{Payment.username}}</th>
        <td>${{Payment.monto}}</td>
        <td>{{Payment.medio_de_pago}}</td>
        <td>{{Payment.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
